<div class="list-header">
  <amp-search
    (search)="searchCourses($event)"
    (clear)="clearFilter()"
  ></amp-search>
  <amp-add-course (click)="goToNew()"></amp-add-course>
</div>

<ng-container *ngIf="filteredCourses && filteredCourses.length; else noDataMessage">
  <p class="courses-number">{{filteredCourses.length}} {{'courses' | translate}}</p>
  <amp-course
    *ngFor="let course of filteredCourses | orderBy:'creationDate' "
    [course]="course"
    (delete)="onDeleteCourse($event)"
    (edit)="onEditCourse($event)"
    [ampDateBorder]="course.creationDate"
    [class.top]="course.topRated"
  ></amp-course>
  <button (click)="onLoadMore()">{{'Load more' | translate}}</button>
</ng-container>

<ng-template #noDataMessage>
  <p class="nodata">{{'No data, feel free to add new course :)' | translate}}</p>
</ng-template>
