@import "../../../_variables.scss";

:host {
  display: block;
  overflow: visible;
  button {
    display: block;
    background: white;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 12px;
    box-shadow: 0 1px 24px 0 $shadow;
    border: 0;
    cursor: pointer;
    outline: none;
  }
  amp-course {
    border: 3px solid transparent;
    &.top {
      background: $top-color;
      position: relative;
      &:before {
        content: '\2605';
        position: absolute;
        color: $star-color;
        padding: 5px;
        font-size: 20px;
        top: -3px;
        right: 1.5rem;
        @media #{$mobile} {
          top: 18px;
        }
      }
    }
  }
  .nodata {
    text-align: center;
    margin: 2rem 0;
  }
  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    @media #{$mobile} {
      flex-direction: column;
    }
  }
  .courses-number {
    margin: 0 0 24px;
  }
}
