@import "../../../_variables.scss";

:host {
    display: block;
    overflow: visible;
    max-width: 520px;
    .field {
        @include input();
        display: inline-block;
        padding: 6px 10px;
        width: 100%;
    }
    .author {
        background: $body-color;
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        padding-left: 8px;
        margin-right: 6px;
        mat-icon {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
        }
    }
    input {
        @include inputInvisible();
        padding: 4px 0;
    }
    .autocomplete {
        width: 518px;
        border-left: 1px solid $gray-color;
        border-right: 1px solid $gray-color;
        border-radius: 4px;
        span {
            display: block;
            padding: 8px;
            border-bottom: 1px solid $gray-color;
            cursor: pointer;
            &:hover {
                background: $body-color;
            }
        }
    }
    &.invalid .field {
        background: $error-bg;
        border-color: $error;
    }
}
