@import "../../../variables";

:host {
  display: flex;
  overflow: visible;
  align-items: center;
  @media #{$mobile} {
    width: 100%;
    margin-bottom: 24px;
  }
  .search-field {
    @include input();
    padding: 0 12px;
    line-height: 48px;
    height: 48px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$mobile} {
      width: 100%;
    }
  }
  input {
    @include inputInvisible();
    flex-grow: 1;
  }
  button {
    @include green-button();
    margin-left: 6px;
    line-height: 46px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 24px;
  }
  mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 4px;
    &.clear {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
