@import "../../../variables";

:host {
  display: block;
  overflow: visible;
  ul {
    padding: 0;
    > li {
      display: flex;
    }
  }
  .label {
    color: $green-color;
    width: 120px;
    font-weight: 600;
  }
  .options a {
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;
    display: inline-block;
    background: $button-color;
    color: white;
  }
}
