@import "../../../_variables.scss";

:host {
  max-width: 731px;
  box-sizing: border-box;
  display: block;
  overflow: visible;
  background: white;
  border-radius: 6px;
  padding: 24px;
  margin: 2vh auto;
  box-shadow: 0 1px 24px 0 $shadow;
  h1 {
    font-size: 24px;
    margin: 0 0 24px;
    font-weight: 400;
  }
  label {
    display: block;
    margin-bottom: 12px;
    span {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 14px;
      &.error {
        color: $error;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 0;
      }
    }
  }
  input {
    @include input();
    height: 36px;
    padding: 6px 12px;
    box-sizing: border-box;
    width: 100%;
    &.small {
      width: 170px;
    }
  }
  textarea {
    @include input();
    display: block;
    width: 100%;
    padding: 6px 12px;
    height: 108px;
  }
  button {
    @include green-button();
    font-size: inherit;
    line-height: 36px;
    padding: 0 18px;
    font-weight: 600;
    &.cancel {
      background: $gray-color;
      margin-right: 12px;
      color: black;
    }
  }
  footer {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  input, textarea, amp-date-field {
    &.invalid {
      background: $error-bg;
      border-color: $error;
    }
  }
  
}
