<h1>{{'New course' | translate}}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <label>
    <span>{{'Title' | translate}}</span>
    <input 
      type="text" 
      formControlName="title" 
      [class.invalid]="isControlInvalid('title')"
    >
    <span class="error" *ngIf="isControlInvalid('title')">{{form.get('title') | errors}}</span>
  </label>

  <label>
    <span>{{'Description' | translate}}</span>
    <textarea 
      formControlName="description" 
      [class.invalid]="isControlInvalid('description')">
    </textarea>
    <span class="error" *ngIf="isControlInvalid('description')">{{form.get('description') | errors}}</span>
  </label>

  <label>
    <span>{{'Duration' | translate}}</span>
    <amp-time-field 
      formControlName="duration"
      [class.invalid]="isControlInvalid('duration')"
      ampNumberValidate
    >
    </amp-time-field>
    <span class="error" *ngIf="isControlInvalid('duration')">{{form.get('duration') | errors}}</span>
  </label>

  <label>
    <span>{{'Date' |translate}}</span>
    <amp-date-field 
      formControlName="date" 
      [class.invalid]="isControlInvalid('date')">
    </amp-date-field>
    <span class="error" *ngIf="isControlInvalid('date')">{{form.get('date') | errors}}</span>
  </label>

  <label>
    <span>{{'Authors' | translate}}</span>
    <amp-authors-field 
      formControlName="authors"
      [class.invalid]="isControlInvalid('authors')">
    </amp-authors-field>
    <span class="error" *ngIf="isControlInvalid('authors')">{{form.get('authors') | errors}}</span>
  </label>

  <footer>
    <button class="cancel" (click)="cancel()">{{'Cancel' | translate}}</button>
    <button type="submit" [disabled]="form.invalid">{{'Save' | translate}}</button>
  </footer>
</form>
