@import "../../../variables";

:host {
  .mat-dialog-actions {
    justify-content: flex-end;
  }
  .mat-dialog-title {
    background: $shadow;
    line-height: 54px;
    padding: 0 24px;
    font-size: 18px;
    margin: -24px -24px 24px;
    display: flex;
    justify-content: space-between;
  }
  button:not(.close) {
    @include green-button();
    margin-left: 10px;
    font-size: inherit;
    line-height: 36px;
    font-weight: 600;
    padding: 0 24px;
    &.cancel {
      background: $gray-color;
    }
  }
  .close {
    border: 0;
    background: none;
    outline: none;
    color: $gray-color;
    cursor: pointer;
  }
}
