@import "../../variables";

:host {
  display: flex;
  overflow: visible;
  align-items: center;
  input {
    @include input();
    background-image: url('/assets/ic-search.svg');
    background-position: 12px 50%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding-left: 48px;
    line-height: 48px;
    height: 48px;
    width: 360px;
  }
  button {
    @include green-button();
    margin-left: 6px;
    line-height: 46px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 24px;
  }
}
