@import "../../../variables";

:host {
  display: flex;
  align-items: center;
  overflow: visible;
  background: white;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 24px;
  box-shadow: 0 1px 24px 0 $shadow;
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 600;
  }
  p {
    margin: 0;
    line-height: 1.7;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .time {
    color: rgba(0,0,0,0.3);
    font-size: 12px;
    & > span {
      padding-right: 8px;
      display: inline-block;
      line-height: 18px;
    }
    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      margin-right: 2px;
      vertical-align: middle;
    }
  }
  .course-buttons {
    flex: 0 0 260px;
    text-align: center;
  }
  amp-edit-button {
    margin-right: 12px;
  }

}
