<div class="course-content" *ngIf="course">
  <header>
    <h3>{{course.title | uppercase}}</h3>
    <div class="time">
      <span *ngIf="course.duration">
        <mat-icon>timer</mat-icon>
        {{course.duration | duration}}
      </span>
      <span *ngIf="course.creationDate">
        <mat-icon>date_range</mat-icon>
        {{course.creationDate | date}}
      </span>
    </div>
  </header>
  <p>{{course.description}}</p>
</div>
<div class="course-buttons">
  <amp-edit-button (click)="onEdit()"></amp-edit-button>
  <amp-delete-button (click)="onDelete()"></amp-delete-button>
</div>
