@import "../../../variables";

:host {
  display: flex;
  overflow: visible;
  justify-content: flex-end;
  @media #{$mobile} {
    width: 100%;
  }
  i {
    font-style: normal;
    font-size: 30px;
    line-height: 43px;
    margin-right: 8px;
  }
  button {
    @include button();
    line-height: 48px;
    font-size: 16px;
    padding: 0 24px;
    text-decoration: none;
    display: flex;
    @media #{$mobile} {
      width: 100%;
    }
  }
}
