<h1>{{'Login title' | translate}}</h1>
<form [formGroup]="loginForm">
  <label>
    <span>E-mail</span>
    <input type="text" formControlName="email" [class.invalid]="isControlInvalid('email')">
    <span class="error" *ngIf="isControlInvalid('email')">{{loginForm.get('email') | errors}}</span>
  </label>
  <label>
    <span>{{'Password' | translate}}</span>
    <input type="password" formControlName="password" [class.invalid]="isControlInvalid('password')">
    <span class="error" *ngIf="isControlInvalid('password')">{{loginForm.get('password') | errors}}</span>
  </label>
  <footer>
    <a href="">{{'Forgot password?' | translate}}</a>
    <button (click)="login()" [disabled]="loginForm.invalid">{{'Login' | translate}}</button>
  </footer>
</form>