@import "../../_variables.scss";

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  header, footer {
    background: $header-color;
    & > * {
      max-width: $body-width;
      margin: 0 auto;
      display: flex;
      align-items: center;
      @media screen and (max-width: $body-width){
        width: calc(100% - 3rem);
      }
    }
  }
  main {
    display: block;
    max-width: $body-width;
    width: $body-width;
    margin: 0 auto;
    flex: 1;
    @media screen and (max-width: $body-width){
      width: calc(100% - 3rem);
    }
  }
}
