@import "../../_variables.scss";

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  header, footer {
    background: $header-color;
    & > * {
      max-width: $body-width;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
  }
  main {
    display: block;
    max-width: $body-width;
    margin: 0 auto;
    flex: 1;
  }

  amp-search {
    margin: 24px 0;
  }

  amp-add-course {
    margin-bottom: 12px;
  }
}
